<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="topMenu">
<head>
    <title>Top</title>
</head>
<body>
    <!-- 상단 메뉴 프래그먼트 -->
    <div class="top-menu">
        <div id="authStatus">
        </div>
    </div>

    <script>
        // 페이지 로드 시 사용자 정보 초기화
        document.addEventListener("DOMContentLoaded", function() {
            /**
             * 재기동시 브라우저 수동 입력
             * window.localStorage.removeItem("jwtToken");
             * window.localStorage.removeItem("userInfo");
             */
            const userInfo = JSON.parse(localStorage.getItem('userInfo'));
            updateTopMenu(userInfo);
        });

        // 사용자 정보가 로컬 스토리지에서 변경될 때마다 호출(탭이 다를 때만 동작하므로 login.html에서 명시적 호출)
        // document.addEventListener('storage', function(e) {
        //     if (e.key === 'userInfo') {
        //         const userInfo = JSON.parse(localStorage.getItem('userInfo'));
        //         updateTopMenu(userInfo); // 저장된 사용자 정보를 바탕으로 상단 메뉴 업데이트
        //     }
        // });

        // 사용자 정보가 변경될 때마다 호출하는 함수
        // function updateTopMenu(userInfo) {
        //     console.log("Top 메뉴 변경");
        //     console.log(userInfo.roles);
        //     const authStatus = document.getElementById("authStatus");
        //     if (userInfo) {
        //         authStatus.innerHTML = `
        //             <p>안녕하세요, ${userInfo.username}님!</p>
        //             <p>Roles: ${userInfo.roles.join(", ")}</p>`;
        //     } else {
        //         authStatus.innerHTML = `<p>로그인되지 않은 상태입니다.</p>`;
        //     }
        // }
    </script>
</body>
</html>
